<!DOCTYPE html>
<html>
<head>
    <title>First Flask App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <p class="error">{{ error }}</p>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-actions">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="register-link">
            <a href="/registerationForm">Register here</a>
        </div>
    </div>
</body>
</html>
